$primary-heading: #e6e6e6;
$primary-accent: #b1fb04;
$primary-background: #353236;
$primary-text: #ececec;

$secondary-heading: #a3f3fd;
$secondary-accent: #fbbc04;
$secondary-background: #535353;
$secondary-text: #424242;

